@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300;400;600&display=swap");
* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.d-flex {
    display: flex;
}

.home video::-webkit-media-controls {
    display: none !important;
}
.bg-blue {
    background-image: linear-gradient(180deg, #0a1839, #081325);
}

@keyframes runmorning{
    0%{
        transform: translateY(0);
        transition: 0.8s;
    }
    30%{
        transform: translateY(-20px);
        transition: 0.8s;

    }
}
@keyframes runnoon{
    31%{
        transform: translateY(0);
        transition: 0.8s;
    }
    60%{
        transform: translateY(-20px);
        transition: 0.8s;

    }
}
@keyframes runafternoon{
    61%{
        transform: translateY(0);
        transition: 0.8s;
    }
    90%{
        transform: translateY(-20px);
        transition: 0.8s;

    }
}


@keyframes runtext {
    0%,
    25%,
    75%,
    100% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(2deg);
    }
    45% {
        transform: rotate(-2deg);
    }
    55% {
        transform: rotate(1deg);
    }
    60% {
        transform: rotate(-1deg);
    }
}



.avtive-smart-phone{
    filter: brightness(1.3);
    transition: 0.6s;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
// @media (max-width: 1300px) {
//     .container {
//         padding-right: 40px;
//         padding-left: 40px;
//     }
// }
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

[class*="col-"] {
    padding: 10px;
}

//Extra small devices <= 600px
@media (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}

//Small devices >= 600px
@media (min-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }

    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

//MEdiaum devices >= 768px
@media (min-width: 768px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

//laptop/ desktops >= 992px
@media (min-width: 992px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

//Large latops and desktop >= 1200px
@media (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
}
