footer {
    background-image: url(.././images/bg-footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    .container {
        .contact {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 60%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .contact-form {
                flex-basis: 25%;
                background-color: #ffffff;
                padding: 53px 36px;
                text-align: center;
                form {
                    display: flex;
                    flex-direction: column;
                    input {
                        background: #e5e5e5;
                        width: 365px;
                        padding: 13px;
                        font-size: 20px;
                        outline: none;
                        border: none;
                        margin-bottom: 16.5px;
                        &::placeholder {
                            font-size: 20px;
                            color: #000000;
                        }
                    }
                    textarea {
                        width: 365px;
                        padding: 10px;
                        background: #e5e5e5;
                        outline: none;
                        border: none;
                        resize: none;
                        &::placeholder {
                            font-size: 20px;
                            color: #000000;
                        }
                    }
                }
                .advisory {
                    text-transform: uppercase;
                    color: #ffffff;
                    font-size: 24px;
                    margin-top: 33px;
                    display: inline-block;
                    background-image: linear-gradient(90deg, #13ac69, #72c48c);
                    padding: 12px 42px;
                    border-radius: 30px;
                }
            }
            .contact-info {
                flex-basis: 36%;
                margin-left: 50px;
                .logo {
                    img {
                        width: 1000%;
                    }
                }
                .address {
                    color: #ffffff;
                    list-style: none;
                    font-size: 17px;
                    margin-bottom: 30px;
                    .title {
                        text-transform: uppercase;
                        margin-top: 15px;
                    }
                    .title,
                    .telephone {
                        font-weight: bolder;
                    }
                    li {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        .li-right {
                            line-height: 20px;
                            margin-left: 10px;
                        }
                        img {
                            width: 18.15px;
                            height: 18.15px;
                        }
                    }
                }
                .email-website {
                    display: flex;
                    align-items: center;
                    .item {
                        display: flex;
                        align-items: center;
                        img {
                            width: 100%;
                            margin-right: 10px;
                        }
                        .text {
                            span {
                                font-size: 17px;
                                color: #ffffff;
                            }
                        }
                        &:last-child{
                            margin-left: 24px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 600px){
    footer {
        background-image: url(.././images/bg-footer-res.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 160vh;
        position: relative;
        overflow: hidden;
        .container {
            .contact {
                
                left: 49%;
                top: 500px;
                transform: translate(-50%, -50%);
                width: auto;
                flex-wrap: wrap;
                .contact-form {
                    flex-basis: 100%;
                    background-color: #ffffff;
                    padding: 20px 20px;
                    form {
                        input {
                            width: 220px;
                            padding: 13px;
                            font-size: 16px;
                            &::placeholder {
                                font-size: 20px;
                                color: #000000;
                            }
                        }
                        textarea {
                            width: 220px;
                            padding: 13px;
                        }
                    }
                    .advisory {
                        font-size: 16px;
                        margin-top: 33px;
                        padding: 10px 42px;
                    }
                }
                .contact-info {
                    flex-basis: 100%;
                    margin-left: 0px;
                    margin-top: 30px;
                    .logo {
                        img {
                            width: 100%;
                        }
                    }
                    .address {
                        color: #ffffff;
                        list-style: none;
                        font-size: 17px;
                        margin-bottom: 30px;
                        .title {
                            text-transform: uppercase;
                            margin-top: 15px;
                        }
                        .title,
                        .telephone {
                            font-weight: bolder;
                        }
                        li {
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            .li-right {
                                line-height: 20px;
                                margin-left: 10px;
                            }
                            img {
                                width: 18.15px;
                                height: 18.15px;
                            }
                        }
                    }
                    .email-website {
                        display: flex;
                        align-items: center;
                        .item {
                            display: flex;
                            align-items: center;
                            img {
                                width: 100%;
                                margin-right: 10px;
                            }
                            .text {
                                span {
                                    font-size: 17px;
                                    color: #ffffff;
                                }
                            }
                            &:last-child{
                                margin-left: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 820px) and (min-width: 600px) {
    footer {
        background-image: url(.././images/bg-footer-res.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 135vh;
        position: relative;
        overflow: hidden;
        top: 290px;
        .container {
            .contact {
                
                left: 49%;
                top: 38%;
                transform: translate(-50%, -50%);
                width: auto;
                flex-wrap: wrap;
                .contact-form {
                    flex-basis: 100%;
                    background-color: #ffffff;
                    padding: 20px 20px;
                    form {
                        input {
                            width: auto;
                            padding: 13px;
                            font-size: 16px;
                            &::placeholder {
                                font-size: 20px;
                                color: #000000;
                            }
                        }
                        textarea {
                            width: auto;
                            padding: 13px;
                        }
                    }
                    .advisory {
                        font-size: 16px;
                        margin-top: 33px;
                        padding: 10px 42px;
                    }
                }
                .contact-info {
                    flex-basis: 100%;
                    margin-left: 0px;
                    margin-top: 30px;
                    .logo {
                        img {
                            width: 100%;
                        }
                    }
                    .address {
                        color: #ffffff;
                        list-style: none;
                        font-size: 17px;
                        margin-bottom: 30px;
                        .title {
                            text-transform: uppercase;
                            margin-top: 15px;
                        }
                        .title,
                        .telephone {
                            font-weight: bolder;
                        }
                        li {
                            display: flex;
                            align-items: center;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            .li-right {
                                line-height: 20px;
                                margin-left: 10px;
                            }
                            img {
                                width: 18.15px;
                                height: 18.15px;
                            }
                        }
                    }
                    .email-website {
                        display: flex;
                        align-items: center;
                        .item {
                            display: flex;
                            align-items: center;
                            img {
                                width: 100%;
                                margin-right: 10px;
                            }
                            .text {
                                span {
                                    font-size: 17px;
                                    color: #ffffff;
                                }
                            }
                            &:last-child{
                                margin-left: 24px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1300px) and (min-width: 821px) {
    footer {
        .container {
            .contact {
                left: 50%;
            }
        }
    }
}
@media (max-width: 1200px) and (min-width: 769px) {
    footer{
        top: 300px;
        .contact{
            top: 43% !important;
        }
    }
}