header {
    position: fixed;
    width: 100%;
    z-index: 9999;

    .header-navigation {
        background-image: linear-gradient(180deg, #0b162867, #0a152700);

        .container {
            .nav {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 120px;
                .logo {
                    img {
                        width: 134;
                        height: 52px;
                    }
                }
                .nav-right-pc {
                    ul {
                        display: flex;

                        li {
                            margin-left: 33px;
                            position: relative;
                            a {
                                font-size: 20px;
                                color: #ffffff;
                                text-transform: uppercase;
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 0%;
                                height: 2px;
                                background: #ffffff;
                                transition: width ease 0.4s;
                            }

                            &:hover {
                                &::after {
                                    left: 0;
                                    right: auto;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                // .nav-right-mobile {
                //     #search {
                //         position: absolute;
                //         top: 50%;
                //         left: 50%;
                //         transform: translate(7%, -50%);
                //     }
                //     .input-search {
                //         border: none;
                //         outline: none;
                //     }
                //     input[type="search"].input-search {
                //         -webkit-appearance: textfield;
                //         -webkit-box-sizing: content-box;
                //         font-family: inherit;
                //         font-size: 100%;
                //     }
                //     input.input-search::-webkit-search-decoration,
                //     input.input-search::-webkit-search-cancel-button {
                //         display: none;
                //     }

                //     input[type="search"].input-search {
                //         background: #141414 url(../images/icon-search.png) no-repeat 8px center;
                //         /* border: solid 1px #ccc; */
                //         padding: 9px 10px 9px 32px;
                //         width: 55px;
                //         background-size: 20px;
                //         -webkit-border-radius: 10em;
                //         -moz-border-radius: 10em;
                //         border-radius: 10em;

                //         -webkit-transition: all 0.5s;
                //         -moz-transition: all 0.5s;
                //         transition: all 0.5s;
                //     }
                //     input[type="search"].input-search:focus {
                //         width: 130px;
                //         background-color: #141414;
                //         /* border-color: #66CC75; */
                //         -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
                //         -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
                //         box-shadow: 0 0 5px rgba(255, 255, 255, 1);
                //     }

                //     input.input-search:-moz-placeholder {
                //         color: #fff;
                //     }
                //     input.input-search::-webkit-input-placeholder {
                //         color: #fff;
                //     }
                //     #search input[type="search"].input-search {
                //         width: 22px;
                //         padding-left: 10px;
                //         color: transparent;
                //         cursor: pointer;
                //     }
                //     #search input[type="search"].input-search:hover {
                //         background-color: #141414;
                //     }
                //     #search input[type="search"].input-search:focus {
                //         width: 130px;
                //         padding-left: 32px;
                //         color: #fff;
                //         background-color: #141414;
                //         cursor: auto;
                //     }
                //     #search input:-moz-placeholder {
                //         color: transparent;
                //     }
                //     #search input::-webkit-input-placeholder {
                //         color: transparent;
                //     }
                //     .navbar-light .navbar-toggler-icon {
                //         background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                //     }
                //     #menu {
                //         // padding-left: 15px !important;
                //         width: 240px !important;
                //         height: 100vh;
                //         li {
                //             padding-left: 20px !important;
                //             &:hover {
                //                 background: #ffffff75;
                //             }
                //         }
                //         .nav-link {
                //             color: #ffffff;
                //             text-transform: uppercase;
                //         }
                //     }
                //     #menuToggle {
                //         display: block;
                //         position: absolute;
                //         top: 18px;
                //         left: 50px;

                //         z-index: 1;

                //         -webkit-user-select: none;
                //         -moz-user-select: none;
                //         -ms-user-select: none;
                //         user-select: none;
                //     }

                //     #menuToggle a {
                //         text-decoration: none;
                //         color: #232323;

                //         -webkit-transition: color 0.3s ease;

                //         transition: color 0.3s ease;
                //     }

                //     #menuToggle input.input-check {
                //         display: block;
                //         width: 40px;
                //         height: 32px;
                //         position: absolute;
                //         top: 25px;
                //         right: -217px;

                //         cursor: pointer;

                //         opacity: 0;
                //         z-index: 2;

                //         -webkit-touch-callout: none;
                //     }
                //     #menuToggle span {
                //         display: block;
                //         width: 30px;
                //         height: 3px;
                //         margin-bottom: 5px;
                //         position: relative;
                //         top: 34px;
                //         left: 218px;

                //         background: #ffffff;

                //         z-index: 1;

                //         -webkit-transform-origin: 4px 0px;

                //         transform-origin: 4px 0px;

                //         -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
                //             -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

                //         transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
                //             -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

                //         transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                //             background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

                //         transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                //             background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
                //             -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
                //     }

                //     #menuToggle span:first-child {
                //         -webkit-transform-origin: 0% 0%;
                //         transform-origin: 0% 0%;
                //     }

                //     #menuToggle span:nth-last-child(2) {
                //         -webkit-transform-origin: 0% 100%;
                //         transform-origin: 0% 100%;
                //     }
                //     #menuToggle input.input-check:checked ~ span {
                //         opacity: 1;
                //         -webkit-transform: rotate(45deg) translate(-2px, -1px);
                //         transform: rotate(45deg) translate(-2px, -1px);
                //         background: #ffffff;
                //     }
                //     #menuToggle input.input-check:checked ~ span:nth-last-child(3) {
                //         opacity: 0;
                //         -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                //         transform: rotate(0deg) scale(0.2, 0.2);
                //     }

                //     #menuToggle input.input-check:checked ~ span:nth-last-child(2) {
                //         -webkit-transform: rotate(-45deg) translate(0, -1px);
                //         transform: rotate(-45deg) translate(0, -1px);
                //     }
                //     #menu {
                //         position: absolute;
                //         width: 300px;
                //         margin: -100px 0 0 50px;
                //         // padding: 50px;
                //         padding-top: 125px;

                //         background: #242424;
                //         list-style-type: none;
                //         -webkit-font-smoothing: antialiased;

                //         -webkit-transform-origin: 0% 0%;

                //         transform-origin: 0% 0%;
                //         -webkit-transform: translate(100%, 0);
                //         transform: translate(100%, 0);

                //         -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

                //         transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

                //         transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

                //         transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                //             -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
                //     }

                //     #menu li {
                //         padding: 10px 0;
                //         font-size: 16px;
                //         color: #ffffff;
                //     }
                //     #menuToggle input.input-check:checked ~ ul {
                //         -webkit-transform: none;
                //         transform: none;
                //     }
                //     #menuToggle {
                //         #search {
                //             transform: translate(-40%, 11%);
                //         }
                //     }
                // }
                .nav-right-mobile {
                    .menu-btn {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 80px;
                        height: 80px;
                        cursor: pointer;
                        transition: all 0.5s ease-in-out;
                        /* border: 3px solid #fff; */
                    }
                    .menu-btn__burger {
                        width: 40px;
                        height: 3px;
                        background: #fff;
                        border-radius: 5px;
                        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
                        transition: all 0.5s ease-in-out;
                    }
                    .menu-btn__burger::before,
                    .menu-btn__burger::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 3px;
                        background: #fff;
                        border-radius: 5px;
                        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
                        transition: all 0.5s ease-in-out;
                    }
                    .menu-btn__burger::before {
                        transform: translateY(-16px);
                    }
                    .menu-btn__burger::after {
                        transform: translateY(16px);
                    }
                    /* ANIMATION */
                    // .menu-btn.open .menu-btn__burger {
                    //     transform: translateX(-50px);
                    //     background: transparent;
                    //     box-shadow: none;
                    // }
                    // .menu-btn.open .menu-btn__burger::before {
                    //     transform: rotate(45deg) translate(35px, -35px);
                    // }
                    // .menu-btn.open .menu-btn__burger::after {
                    //     transform: rotate(-45deg) translate(35px, 35px);
                    // }
                    .open{
                        .menu-btn__burger {
                            transform: translateX(-50px);
                            background: transparent;
                            box-shadow: none;
                        }
                        .menu-btn__burger::before {
                            transform: rotate(45deg) translate(35px, -35px);
                        }
                        .menu-btn__burger::after {
                            transform: rotate(-45deg) translate(35px, 35px);
                        }
                    }
                    #menu {
                        width: 220px;
                        height: 100vh;
                        background: rgba(43, 41, 41, 0.692);
                        position: absolute;
                        top: 120px;
                        right: -250px;
                        li {
                            color: #ffffff;
                            a {
                                font-size: 16px;
                                text-transform: uppercase;
                                color: #ffffff;
                                display: block;
                                padding: 20px;
                            }
                            &:hover{
                                background-color: #1b1a1ab0;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
.toggle-menu{
    right: 0px !important;
    transition: all 0.5s ease-in;
}
.bg-header {
    background-image: linear-gradient(180deg, #0b1628cb, #3c3c3d94) !important;
}

@media (max-width: 768px) {
    header {
        .nav-right-pc {
            display: none;
        }
        .nav-right-mobile{
            display: block !important;

        }
    }
}
@media (min-width: 769px) {
    .nav-right-mobile{
        display: none !important;

    }
}
@media (max-width: 1200px) {
    header {
        .header-navigation {
            .nav-right-pc {
                li {
                    margin-left: 25px !important;
                }
                a {
                    font-size: 14px !important;
                }
            }
        }
    }
}
